.bg-img {
  /* The image used */
  background-image: url("D:/CHALLENGES/Task 10/Images/kyrgyzstan.jpg");
  min-height: 750px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */
  position: relative;
  
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #CDDEFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #98BAE7;
  color: #396EB0;
}

footer {
  text-align: center;
  background-color: #77ACF1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF9F9;
}
